// VARIABLES GLOBALES DEL PROYECTO
// Colores, tipografías, tamaños, etc.

$rosa-header: #FFB3B8;
$rosa-fondo: #FAE1F4;
$rosa-btn: #FFB3B8;
$rosa-hover: #FF93B9;
$gris-texto: #333333;
$blanco: #fff;

$font-base: "roboto", sans-serif;