//variables
@use "../utilities/variables" as *;
// mixin
@use "../utilities/mixin" as *;
/*Seccion de Header*/

.navbar{
    background-color: $rosa-header !important;
    padding: 0.2rem;
}

.navbar-toggler{
    background-color: $blanco;
}


body{
    margin: 0;
    background-color: $rosa-fondo;
    font-family: "roboto", sans-serif;
}

header{
    background-color: $rosa-header;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    nav{
        ul{
    text-align: right;
    list-style: none;
    li{
        a{text-decoration: none;
    color: $blanco;
    font-size: 20px;
    margin-right: 3px;
                    }
                }
            }
        }
    }

/* INDEX.HTML - Seccion de Main*/

main{
    h1{
    color: $gris-texto;
    text-align: center;
    }
    .img-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13px;
    &:hover{
    filter: brightness(1.1);
    transition: 0.08 linear;
    }
}
    p{
    text-align: center;
    color: $rosa-header;
    span{
    color: $gris-texto;
        }
    }
}
.contacto,
.mejores-vendidos,
.mas-sobre-nosotros,
.ayuda {
p {
    color: #000;
    text-align: left;
}
}

/* Estilos compartidos entre INDEX.HTML y PRODUCTOS.HTML */

main {
h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
h2 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.perfumes,
.shampoos {
    @extend .productos;
    }
}
section {
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 3rem;
}
.descubre {
    margin-top: 0.3rem;
    padding: 0.4rem 0.7rem;
    background-color: #ffb3b8;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-align: center;
    &:hover {
        background-color: #ff93b9;
        transition: 0.08s linear;
        }
    }
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    justify-items: center;
img {
    width: 100%;
    display: block;
    }
    div {
    &.producto,
    &.perfume,
    &.shampoo {
        display: grid;
        background-color: #fff;
        padding: 0.5rem;
        overflow: hidden;
        width: 50%;
        margin-left: 0;
        margin-bottom: 3rem;
        transition-duration: 1s linear;
        img {
        width: 100%;
        display: block;
        }
        &:hover img {
        filter: brightness(1.2);
        transition: 0.08s linear;
        }
    .descubre {
        width: 100%;
        display: block;
        transition: 0.2s linear;
            }
        }
    }
}

footer {
    h3 {
    margin: 10%;
    text-align: center;
    color: #333333;
    }
}

