//variables
@use "../utilities/variables" as *;
// PRODUCTOS.HTML Main*/

main h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
main h2{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

section h2{
    color: #333333;
    text-align: center;
    margin-bottom: 3rem;
}

.productos, main .perfumes, main .shampoos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    justify-items: center;
}

section div .producto, main div .perfume, main div .shampoo{
    display: grid;
    background-color: #fff ;
    padding: 0.5rem;
    overflow: hidden;
    width: 50%;
    margin-LEFT: 0%;
    margin-bottom: 3rem;
    transition-duration: 1s linear;
}

main .perfume:hover img, main.shampoo:hover img, section .producto:hover img{
    filter: brightness(1.2);
    transition: 0.08s linear;
}

section .descubre, main .descubre{
    margin-top: 0.3rem;
    padding: 0.4rem 0.7rem;

}

section .producto img, main .perfume img, main .shampoo img{
    width: 100%;
    display: block;
}

section .producto, main .perfume, main .shampoo, .descubre:hover{
    background-color: #FF93B9;
    transition: 0.08s linear;
}

section .producto .descubre, main .perfume .descubre, main .shampoo .descubre{
    width: 100%;
    display: block;
    transition: 0.2s linear;
}

section .descubre , main .descubre {
    text-decoration: none;
    color: #333333;
    text-align: center;
}

section .descubre, main .descubre{
    background-color: #FFB3B8;
    border: 1px solid #333333;
}